@use './settings.scss';

.leaflet-control-zoom {

    .leaflet-control-zoom-in,
    .leaflet-control-zoom-out {
        background-color: $black3;
        color: white;
        opacity: $opacityMed3;

        &:hover {
            background-color: $black2;
        }
    }
}

.leaflet-control-scale {
    .leaflet-control-scale-line {
        opacity: $opacityMed3;
        border: 0px;
        margin-top: 2px;
        border-left: 2px solid $accentColor;
        border-right: 2px solid $accentColor;
        background-color: $black3;
        color: white;
        text-shadow: none;

        &:hover {
            font-weight: bold;
        }
    }

}

.leaflet-container .leaflet-control-attribution {
    opacity: $opacityMed3;
    background-color: $black3;
    color: white;

    a {
        color: $accentColor;

        &:hover,
        &:active {
            color: $accentColor2;
        }
    }
}